body{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    /* background-image: url("background-empty-room-brick-wall-260nw-1194506488.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
}
/* .box{
    width: 100px;
    height: 100px;
    background-image: url('gym.png');
    background-size: cover;
    top: 250px;
    left: 600px;
    position: relative;
    animation: box 10s ease-out infinite;
   
} */
/* @keyframes box{
   0%{
    transform: translateX(200px) rotate(72deg) ;
    
   }
   25%{
    transform:translateY(200px) rotate(-72deg);
   }
   50%{
    transform:translateX(-200px) rotate(72deg);
   }
   75%{
    transform:translateY(-200px) rotate(-72deg);
   }
   100%{
    transform:translateX(200px) rotate(72deg);
   }
} */
/* img{
    position: relative;
    left: 300px;
    top: 50px;
    animation: bulb 4s linear infinite alternate;
    transform-origin: top;
    
}

@keyframes bulb{
    from{
        transform: rotateZ(-50deg);
        
    }
    to{
        transform: rotateZ(50deg);
    }
} */

.box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: absolute;
    top: 250px;
    left: 600px;
    transition: 10s;
    animation: move 20s linear infinite;
}
@keyframes move{
    0%{
        transform: translateX(600px) rotate(250deg);
        transition: 10s;
        background-color: purple;
        border-radius: 100%;
        
    }
    25%{
        transform: translateX(-600px) rotate(-250deg);
        transition: 10s;
        background-color: chartreuse;
    }
    50%{
        transform: translateY(300px) rotate(250deg);
        transition: 10s;
        background-color: deeppink;
    }
    75%{
        transform: translateY(-250px) rotate(-250deg);
        transition: 10s;
        background-color:red;
    }
    100%{
        transform: translateX(600px) rotate(250deg);
        transition: 10s;
        background-color:gold;
    }
}
